body {
    background-color: #1A1D21;
}
h1{
    color: whitesmoke;
}
h2{
    color: whitesmoke;
}
h3{
    color: whitesmoke;
    cursor: not-allowed;
}
img{
    max-width: 60%;
    max-height: 60%;
}

